header {
    /*background-color: #00cc02;
    min-height: 80px;

    ul {
        li.nav-item {
            padding: 15px 0 0;
            a {
                color: #ffffff;
                font-family: "Avenir Black";
                font-size: 18px;
                font-weight: 900;
                line-height: 12px;
                &.active {
                    border-bottom: 5px solid #fff;
                }
            }
        }
    }*/
}
