/* ============= DEFAULT SETTINGS ============== */
/* ============================================= */
@font-face {
  font-family: "Chewy Regular";
  src: url("/assets/fonts/Chewy-Regular.ttf");
}
@font-face {
  font-family: "Avenir Black";
  src: url("/assets/fonts/AvenirLTStd-Black.otf");
}
@font-face {
  font-family: "Avenir Book";
  src: url("/assets/fonts/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: "Avenir Roman";
  src: url("/assets/fonts/AvenirLTStd-Roman.otf");
}
* {
  -webkit-font-smoothing: antialiased;
  -webkit-perspective-origin: 50% 50%;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0px;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
i {
  font-style: normal;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
textarea {
  outline: none;
}
.cta {
  border-radius: 30px;
  display: flex;
  width: 100%;
  max-width: 255px;
  height: 64px;
  justify-content: center;
  align-items: center;
  margin: 40px auto 20px;
  outline: none;
}
.cta span {
  font-family: "Avenir Black";
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.38px;
  padding-top: 6px;
}
.cta-white {
  background-color: #ffffff;
}
.cta-white span {
  color: #00cc02;
}
.cta-green {
  background-color: #00cc02;
}
.cta-green span {
  color: #faee58;
}
.cta-orange {
  background-color: #d79f2e;
}
.cta-orange span {
  color: #ffffff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #7ac5d8;
}
.lSSlideOuter .lSPager.lSpg > li.active a,
.lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #d79f2e;
}
header {
  min-height: 80px;
  display: flex;
  align-items: center;
}
header .navbar {
  display: flex;
  align-items: center;
  padding: 0;
}
@media screen and (max-width: 767px) {
  header .navbar .left {
    margin: 0 auto;
  }
}
header .navbar .left img {
  width: 100%;
  max-width: 200px;
}
@media screen and (max-width: 767px) {
  header .navbar .right {
    margin: 0 auto 8px;
  }
}
header .navbar .right ul {
  margin: 0;
}
@media screen and (max-width: 767px) {
  header .navbar .right ul {
    padding: 0;
  }
}
header .navbar .right ul li {
  display: inline;
  text-align: center;
}
header .navbar .right ul li a {
  display: inline-block;
  margin: 0;
  text-decoration: none;
  color: #282d39;
  font-family: "Avenir Black";
  font-size: 18px;
  font-weight: 900;
  padding: 0 20px;
}
@media screen and (max-width: 380px) {
  header .navbar .right ul li a {
    font-size: 15px;
    padding: 0 16px;
  }
}
section.hero .ftco-cover-1 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
section.hero .ftco-cover-1,
section.hero .ftco-cover-1 .container > .row {
  height: 41vw;
  max-height: 620px;
  min-height: 620px;
}
@media screen and (max-width: 991px) {
  section.hero .ftco-cover-1,
  section.hero .ftco-cover-1 .container > .row {
    min-height: 530px;
  }
}
@media screen and (max-width: 767px) {
  section.hero .ftco-cover-1,
  section.hero .ftco-cover-1 .container > .row {
    min-height: 510px;
  }
}
@media screen and (max-width: 392px) {
  section.hero .ftco-cover-1,
  section.hero .ftco-cover-1 .container > .row {
    min-height: 490px;
  }
}
@media screen and (max-width: 340px) {
  section.hero .ftco-cover-1,
  section.hero .ftco-cover-1 .container > .row {
    min-height: 510px;
  }
}
section.hero .ftco-cover-1 > .container {
  position: relative;
}
section.hero .ftco-cover-1.overlay {
  position: relative;
}
section.hero .ftco-cover-1.overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .85;
  background: #379abb;
  background: -moz-linear-gradient(45deg, #379abb 0%, #7ac5d8 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #379abb), color-stop(100%, #7ac5d8));
  background: -webkit-linear-gradient(45deg, #379abb 0%, #7ac5d8 100%);
  background: -o-linear-gradient(45deg, #379abb 0%, #7ac5d8 100%);
  background: -ms-linear-gradient(45deg, #379abb 0%, #7ac5d8 100%);
  background: linear-gradient(45deg, #379abb 0%, #7ac5d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#379abb', endColorstr='#7ac5d8', GradientType=1);
}
section.hero .middle {
  padding-top: 80px;
}
@media screen and (max-width: 991px) {
  section.hero .middle {
    padding-top: 60px;
    position: relative;
    z-index: 2;
  }
}
@media screen and (max-width: 767px) {
  section.hero .middle {
    padding-top: 50px;
  }
}
@media screen and (max-width: 350px) {
  section.hero .middle {
    padding: 50px 12px;
  }
}
section.hero .middle .title {
  color: #ffffff;
  font-family: "Avenir Black";
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 0.88px;
  line-height: 50px;
  text-align: center;
}
@media screen and (max-width: 991px) {
  section.hero .middle .title {
    font-size: 30px;
    letter-spacing: inherit;
    line-height: 36px;
  }
}
@media screen and (max-width: 767px) {
  section.hero .middle .title {
    font-size: 27px;
    line-height: 32px;
  }
}
@media screen and (max-width: 392px) {
  section.hero .middle .title {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (max-width: 350px) {
  section.hero .middle .title {
    font-size: 22px;
  }
}
section.hero .middle .text {
  padding-top: 20px;
  color: #ffffff;
  font-family: "Avenir Book";
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
}
@media screen and (max-width: 991px) {
  section.hero .middle .text {
    font-size: 20px;
    line-height: 27px;
  }
}
@media screen and (max-width: 767px) {
  section.hero .middle .text {
    font-size: 17px;
    line-height: 24px;
  }
}
@media screen and (max-width: 392px) {
  section.hero .middle .text {
    font-size: 16px;
    line-height: 20px;
  }
}
section.hero .middle .cta {
  max-width: 304px;
  margin: 40px auto 0;
}
@media screen and (max-width: 480px) {
  section.hero .middle .cta {
    margin: 40px auto 0;
  }
}
section.steps-cards {
  position: relative;
  top: -126px;
}
@media screen and (max-width: 767px) {
  section.steps-cards {
    top: -130px;
  }
}
section.steps-cards .cards.mobile {
  display: none;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
section.steps-cards .cards.mobile .lSSlideWrapper {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  border: 0 solid #454545;
  background-color: transparent !important;
}
@media screen and (max-width: 767px) {
  section.steps-cards .cards.mobile .lSSlideWrapper {
    max-width: 350px;
    margin: 0 auto;
    box-shadow: none;
    border: none;
    border-radius: inherit;
  }
}
@media screen and (max-width: 767px) {
  section.steps-cards .cards.mobile {
    display: contents;
  }
}
section.steps-cards .cards.desktop {
  display: flex;
}
@media screen and (max-width: 767px) {
  section.steps-cards .cards.desktop {
    display: none;
  }
}
section.steps-cards .card {
  height: 260px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  border: 0 solid #454545;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  section.steps-cards .card {
    height: inherit;
    padding: 40px 15px;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
}
section.steps-cards .card .image {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
section.steps-cards .card .image img {
  max-height: 120px;
}
section.steps-cards .card .title-card {
  color: #282d39;
  font-family: "Avenir Black";
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  padding-top: 10px;
}
@media screen and (max-width: 991px) {
  section.steps-cards .card .title-card {
    font-size: 20px;
    line-height: 24px;
  }
}
section.steps-cards .card .text-card {
  color: rgba(40, 45, 57, 0.6);
  font-family: "Avenir Book";
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  max-width: 290px;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  section.steps-cards .card .text-card {
    font-size: 16px;
    line-height: 22px;
  }
}
section.preview-content {
  margin: 0 0 80px;
}
@media screen and (max-width: 991px) {
  section.preview-content {
    margin: -30px 0 80px;
  }
}
@media screen and (max-width: 767px) {
  section.preview-content {
    margin: -50px 0 60px;
  }
}
section.preview-content .title {
  color: #282d39;
  font-family: "Avenir Black";
  font-size: 42px;
  font-weight: 900;
  letter-spacing: 0.88px;
  line-height: 50px;
  text-align: center;
}
section.preview-content .card-generator {
  padding-top: 40px;
}
section.preview-content #imageEditor {
  width: 482px;
  margin: auto;
  padding: 20px;
  border: 1px solid # 4b4b4b;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #ababab;
}
section.preview-content #editorContainer {
  display: block;
  width: 480px;
  height: 480px;
}
section.preview-content #editor {
  display: block;
  margin: 0 20px 20px 0;
  border: 1px solid # 4b4b4b;
}
section.preview-content #toolbar {
  display: block;
  margin: 20px 0 0;
}
section.preview-content #toolbar a {
  margin-right: 10px;
  outline: none;
  color: #4b4b4b;
}
section.preview-content #resizer {
  border: 2px dashed #000;
}
section.preview-content #tip {
  padding: 5px;
  margin: 0;
  border: 1px solid #000;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
section.preview-content .box {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  border: 0 solid #454545;
  background-color: #ffffff;
  width: 100%;
  padding: 20px 30px;
  margin: 0;
}
@media screen and (max-width: 767px) {
  section.preview-content .box {
    margin: 40px auto 10px;
  }
}
section.preview-content .box .card-form .title-form {
  color: #282d39;
  font-size: 22px;
  font-family: "Avenir Black";
  text-align: center;
  line-height: 25px;
  font-weight: 900;
  padding: 10px 0;
}
@media screen and (max-width: 991px) {
  section.preview-content .box .card-form .title-form {
    font-size: 18px;
  }
}
@media screen and (max-width: 370px) {
  section.preview-content .box .card-form .title-form {
    font-size: 16px;
    padding-bottom: 5px;
  }
}
section.preview-content .box .card-form .cta {
  margin: 25px auto 10px;
}
section.preview-content .box .card-answer {
  display: none;
  flex-direction: column;
}
section.preview-content .box .card-answer.active {
  display: flex !important;
  justify-content: center;
  padding: 14px 0 0;
}
@media screen and (max-width: 335px) {
  section.preview-content .box .card-answer.active {
    padding: 0;
  }
}
section.preview-content .box .card-answer .img-check {
  text-align: center;
}
section.preview-content .box .card-answer .img-check img {
  width: 100%;
  max-width: 140px;
}
section.preview-content .box .card-answer .title {
  color: #00cc02;
  font-size: 22px;
  font-family: "Avenir Black";
  text-align: center;
  line-height: 25px;
}
section.preview-content .box .bottom-share.mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  section.preview-content .box .bottom-share.mobile.preview {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  section.preview-content .box .bottom-share.desktop {
    display: none;
  }
}
section.preview-content .box .bottom-share .msg {
  color: #282d39;
  font-family: "Avenir Black";
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  text-align: center;
  padding: 0 10px;
}
@media screen and (max-width: 380px) {
  section.preview-content .box .bottom-share .msg {
    font-size: 20px;
  }
}
section.preview-content .box .bottom-share .msg2 {
  color: rgba(40, 45, 57, 0.6);
  font-family: "Avenir Roman";
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  padding-top: 15px;
  text-align: center;
}
@media screen and (max-width: 380px) {
  section.preview-content .box .bottom-share .msg2 {
    font-size: 16px;
  }
}
section.preview-content .box .bottom-share .msg2 span {
  color: #00cc02;
  font-weight: 500;
}
section.preview-content .box .bottom-share .share-content {
  border: 1px solid #bdbdbd;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}
section.preview-content .box .bottom-share .share-content .title-share {
  color: #282d39;
  font-size: 16px;
  font-family: "Avenir Black";
  text-align: center;
  line-height: 25px;
  padding-bottom: 5px;
}
section.preview-content .box .bottom-share .share-content .share-links {
  display: flex;
  justify-content: space-around;
}
section.preview-content .box .bottom-share .share-content .share-links a {
  font-family: "Avenir Roman";
  font-size: 14px;
}
section.preview-content .box .bottom-share .cta {
  margin: 10px auto;
}
section.preview-content .box form .form-group {
  margin: 0;
  display: flex;
}
section.preview-content .box form .form-group input,
section.preview-content .box form .form-group select {
  height: 48px;
  border: 1px solid #e5e5e4;
  background-color: #ffffff;
  border-radius: 0px;
  font-family: "Avenir Book";
  font-size: 15px;
  font-weight: 500;
  padding: 6px 16px 0;
  margin: 2px 0;
}
section.preview-content .box form .form-group input:focus,
section.preview-content .box form .form-group select:focus {
  box-shadow: inherit;
  border-color: #80bdff;
}
section.preview-content .box form .form-group input::placeholder,
section.preview-content .box form .form-group select::placeholder {
  color: #9e9e9e;
}
section.preview-content .box form .form-group input.error,
section.preview-content .box form .form-group select.error {
  border-color: #f3637a;
}
section.preview-content .box form .form-group.half :first-child {
  margin: 2px 4px 2px 0;
}
section.preview-content .box form .form-group.child {
  padding-top: 16px;
}
section.preview-content .box span.error-msg {
  float: left;
  color: #f3637a;
  font-weight: 400;
  text-align: left;
  font-size: 12px;
  padding: 0;
  line-height: 0;
  position: relative;
  top: 10px;
  font-family: "Avenir Book";
  width: max-content;
  left: 2px;
}
section.preview-content .canvas-content {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.preview-content .canvas-content canvas {
  max-width: 500px;
  width: 90%;
  display: none;
}
@media screen and (max-width: 991px) {
  section.preview-content .canvas-content canvas {
    width: 100%;
  }
}
section.preview-content .canvas-content img.placeholder {
  max-width: 500px;
  width: 90%;
}
@media screen and (max-width: 991px) {
  section.preview-content .canvas-content img.placeholder {
    width: 100%;
  }
}
section.preview-content .canvas-content .look-how {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
section.preview-content .canvas-content .look-how h5 {
  font-family: "Avenir Book";
  font-size: 15px;
  padding-right: 5px;
}
footer {
  background-color: #379abb;
  min-height: 100px;
}
footer .container {
  display: flex;
  padding: 50px 0 30px;
  position: relative;
}
@media screen and (max-width: 767px) {
  footer .container {
    flex-direction: column;
    padding: 50px 15px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  footer .container {
    padding: 30px 15px;
  }
}
footer .container .back-to-top {
  width: 70px;
  height: 70px;
  box-shadow: 3px 3px 20px rgba(0, 204, 2, 0.15);
  border-radius: 35px;
  border: 1px solid #379abb;
  background-color: #ffffff;
  position: absolute;
  right: 80px;
  text-align: center;
  z-index: 10;
  top: -35px;
  line-height: 14px;
}
footer .container .back-to-top span {
  color: #379abb;
  font-family: "Avenir Black";
  font-size: 10px;
  font-weight: 900;
  line-height: 0;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  height: 100%;
  top: 22px;
}
@media screen and (max-width: 767px) {
  footer .container .back-to-top {
    width: 60px;
    height: 60px;
    line-height: 12px;
    right: 40px;
  }
  footer .container .back-to-top span {
    top: 17px;
    font-size: 8px;
  }
}
footer .container h4.title {
  font-size: 24px;
  color: #ffffff;
  font-weight: 900;
  padding: 0;
  font-family: "Avenir Black";
}
footer .container ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
footer .container ul li {
  color: #ffffff;
  font-size: 16px;
  font-family: "Avenir Book";
}
@media screen and (max-width: 767px) {
  footer .container .left,
  footer .container .middle,
  footer .container .right {
    padding: 15px 0;
  }
}
footer .container .left {
  display: flex;
}
@media screen and (max-width: 767px) {
  footer .container .left {
    flex-direction: column;
    align-items: center;
  }
}
footer .container .left .image-logo {
  max-width: 200px;
}
footer .container .left .image-logo img {
  width: 100%;
  background-color: #ffffff;
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid #379abb;
}
footer .additional_info {
  height: 30px;
  background-color: rgba(40, 45, 57, 0.1);
  font-family: "Avenir Book";
  font-size: 13px;
  font-weight: 600;
  width: 100%;
}
@media screen and (max-width: 1320px) {
  footer .additional_info {
    padding: 10px;
    display: inline-table;
  }
}
footer .additional_info p {
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}
footer .additional_info .rights {
  display: block;
  text-align: center;
}
@media screen and (min-width: 1319px) {
  footer .additional_info .rights {
    clear: both;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
  }
}
html {
  overflow-x: hidden;
  opacity: 1 !important;
  transition: opacity 0.2s ease-in-out;
  font-family: "Avenir Book", "ff-prater-sans-web", "OpenSans", "Open Sans";
  background-color: #f1f3f4;
}
html body {
  overflow-x: hidden;
  display: block;
  margin: 0 auto;
  background-color: white;
  height: initial;
}
html body .svg {
  pointer-events: none;
}
