/* ============= DEFAULT SETTINGS ============== */
/* ============================================= */
@font-face {
  font-family: "Chewy Regular";
  src: url("/assets/fonts/Chewy-Regular.ttf");
}
@font-face {
  font-family: "Avenir Black";
  src: url("/assets/fonts/AvenirLTStd-Black.otf");
}
@font-face {
  font-family: "Avenir Book";
  src: url("/assets/fonts/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: "Avenir Roman";
  src: url("/assets/fonts/AvenirLTStd-Roman.otf");
}
* {
  -webkit-font-smoothing: antialiased;
  -webkit-perspective-origin: 50% 50%;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0px;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
i {
  font-style: normal;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
textarea {
  outline: none;
}
.cta {
  border-radius: 30px;
  display: flex;
  width: 100%;
  max-width: 255px;
  height: 64px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.cta span {
  font-family: "Avenir Black";
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.38px;
  padding-top: 6px;
}
.cta-white {
  background-color: #ffffff;
}
.cta-white span {
  color: #00cc02;
}
.cta-green {
  background-color: #00cc02;
}
.cta-green span {
  color: #faee58;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #00cc02;
}
.lSSlideOuter .lSPager.lSpg > li.active a,
.lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #faee58;
}
header {
  /*background-color: #00cc02;
    min-height: 80px;

    ul {
        li.nav-item {
            padding: 15px 0 0;
            a {
                color: #ffffff;
                font-family: "Avenir Black";
                font-size: 18px;
                font-weight: 900;
                line-height: 12px;
                &.active {
                    border-bottom: 5px solid #fff;
                }
            }
        }
    }*/
}
section.hero {
  background-color: #00cc02;
  background-image: url("/assets/images/bg-green.png");
  background-size: contain;
  padding: 20px 0 220px;
}
@media screen and (max-width: 991px) {
  section.hero {
    padding: 20px 0 150px;
  }
}
@media screen and (max-width: 767px) {
  section.hero {
    top: -105px;
  }
}
section.hero .header {
  min-height: 80px;
}
@media screen and (max-width: 767px) {
  section.hero .header {
    display: flex;
  }
}
section.hero .header ul {
  position: relative;
  float: right;
}
@media screen and (max-width: 767px) {
  section.hero .header ul {
    padding: 0;
    margin: 0 auto;
  }
}
section.hero .header ul li {
  display: inline;
  text-align: center;
}
section.hero .header ul li.one a {
  width: 150px;
}
@media screen and (max-width: 370px) {
  section.hero .header ul li.one a {
    width: 100px;
  }
}
section.hero .header ul li.one.active ~ hr {
  width: 150px;
  margin-left: 0;
}
@media screen and (max-width: 370px) {
  section.hero .header ul li.one.active ~ hr {
    width: 100px;
  }
}
section.hero .header ul li.two.active ~ hr {
  margin-left: 150px;
}
@media screen and (max-width: 370px) {
  section.hero .header ul li.two.active ~ hr {
    margin-left: 100px;
  }
}
section.hero .header ul li a {
  display: inline-block;
  width: 180px;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-family: "Avenir Black";
  font-size: 18px;
  font-weight: 900;
  line-height: 12px;
}
@media screen and (max-width: 370px) {
  section.hero .header ul li a {
    width: 140px;
    font-size: 16px;
  }
}
section.hero .header ul hr {
  height: .25rem;
  width: 180px;
  margin: 0;
  background: #ffffff;
  border: none;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 370px) {
  section.hero .header ul hr {
    width: 140px;
  }
}
section.hero .left .desc-top {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Avenir Black";
  font-size: 24px;
  font-weight: 900;
  line-height: 0px;
  text-transform: uppercase;
  position: relative;
  top: 5px;
}
@media screen and (max-width: 991px) {
  section.hero .left .desc-top {
    padding-top: 15px;
  }
}
@media screen and (max-width: 767px) {
  section.hero .left .desc-top {
    padding-top: 0;
    text-align: center;
  }
}
@media screen and (max-width: 540px) {
  section.hero .left .desc-top {
    font-size: 4vw;
  }
}
section.hero .left .title {
  color: #faee58;
  font-family: "Chewy Regular";
  font-size: 102px;
  font-weight: 400;
  line-height: 120px;
  text-transform: uppercase;
}
section.hero .left .title span {
  font-size: 153px;
}
@media screen and (max-width: 1200px) {
  section.hero .left .title {
    font-size: 98px;
  }
}
@media screen and (max-width: 991px) {
  section.hero .left .title {
    font-size: 52px;
    line-height: 70px;
    padding-top: 15px;
  }
  section.hero .left .title span {
    font-size: 83px;
  }
}
@media screen and (max-width: 767px) {
  section.hero .left .title {
    font-size: 82px;
    line-height: 104px;
    padding-top: 0;
    text-align: center;
  }
  section.hero .left .title span {
    font-size: 126px;
  }
}
@media screen and (max-width: 540px) {
  section.hero .left .title {
    font-size: 14.6vw;
    line-height: 19vw;
  }
  section.hero .left .title span {
    font-size: 23vw;
  }
}
section.hero .left .desc-bottom {
  color: #ffffff;
  font-family: "Avenir Book";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  max-width: 520px;
}
@media screen and (max-width: 991px) {
  section.hero .left .desc-bottom {
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) {
  section.hero .left .desc-bottom {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
}
@media screen and (max-width: 540px) {
  section.hero .left .desc-bottom {
    font-size: 4.2vw;
    line-height: 5vw;
  }
}
section.hero .left .cta {
  max-width: 255px;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  section.hero .left .cta {
    margin: 20px auto 0;
  }
}
section.hero .right .box {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  border: 0 solid #454545;
  background-color: #ffffff;
  width: 100%;
  max-width: 350px;
  padding: 25px 20px 10px;
  min-height: 453px;
}
@media screen and (max-width: 767px) {
  section.hero .right .box {
    margin: 40px auto 10px;
  }
}
section.hero .right .box .lead-form .title-form {
  color: #000000;
  font-family: "Avenir Black";
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  text-align: center;
}
@media screen and (max-width: 991px) {
  section.hero .right .box .lead-form .title-form {
    font-size: 18px;
  }
}
@media screen and (max-width: 370px) {
  section.hero .right .box .lead-form .title-form {
    font-size: 16px;
    padding-bottom: 5px;
  }
}
section.hero .right .box .lead-form form .form-group {
  margin: 0;
  display: flex;
}
section.hero .right .box .lead-form form .form-group input,
section.hero .right .box .lead-form form .form-group select {
  height: 48px;
  border: 1px solid #e5e5e4;
  background-color: #ffffff;
  border-radius: 0px;
  font-family: "Avenir Book";
  font-size: 15px;
  font-weight: 500;
  padding: 6px 16px 0;
}
section.hero .right .box .lead-form form .form-group input:focus,
section.hero .right .box .lead-form form .form-group select:focus {
  box-shadow: inherit;
  border-color: #80bdff;
}
section.hero .right .box .lead-form form .form-group input::placeholder,
section.hero .right .box .lead-form form .form-group select::placeholder {
  color: #9e9e9e;
}
section.hero .right .box .lead-form form .form-group input:disabled,
section.hero .right .box .lead-form form .form-group select:disabled {
  color: #9e9e9e;
}
section.hero .right .box .lead-form form .form-group input.error,
section.hero .right .box .lead-form form .form-group select.error {
  border-color: #F3637A;
}
section.hero .right .box .lead-form form .form-group.child {
  padding-top: 20px;
}
section.hero .right .box .lead-form form .btn-download-ebook {
  border-radius: 26px;
  background-color: #00cc02;
  display: flex;
  width: 100%;
  height: 52px;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  cursor: pointer;
  outline: none;
}
section.hero .right .box .lead-form form .btn-download-ebook span {
  color: #ffffff;
  font-family: "Chewy Regular";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 18px;
  text-transform: uppercase;
}
section.hero .right .box .lead-form span.error-msg {
  float: left;
  color: #F3637A;
  font-weight: 400;
  text-align: left;
  font-size: 12px;
  padding: 0;
  line-height: 0;
  position: relative;
  top: 10px;
  font-family: "Avenir Book";
  width: max-content;
  left: 2px;
}
section.hero .right .box .lead-form .terms {
  max-width: 260px;
  margin: 0 auto;
  padding-top: 10px;
}
section.hero .right .box .lead-form .terms h5 {
  color: #bdbdbd;
  font-family: "Avenir Book";
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}
section.hero .right .box .lead-answer {
  display: none;
  flex-direction: column;
}
section.hero .right .box .lead-answer.active {
  display: flex !important;
  justify-content: center;
  padding: 14px 0 0;
}
@media screen and (max-width: 335px) {
  section.hero .right .box .lead-answer.active {
    padding: 0;
  }
}
section.hero .right .box .lead-answer .img-check {
  text-align: center;
}
section.hero .right .box .lead-answer .img-check img {
  width: 100%;
  max-width: 220px;
}
section.hero .right .box .lead-answer .title {
  color: #00cc02;
  font-size: 22px;
  font-family: "Avenir Black";
  text-align: center;
  padding: 10px;
}
section.hero .right .box .lead-answer .msg {
  color: #000000;
  font-family: "Avenir Black";
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  text-align: center;
  padding: 0 10px;
}
@media screen and (max-width: 380px) {
  section.hero .right .box .lead-answer .msg {
    font-size: 20px;
  }
}
section.hero .right .box .lead-answer .msg2 {
  color: rgba(40, 45, 57, 0.6);
  font-family: "Avenir Roman";
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  padding-top: 15px;
  text-align: center;
}
@media screen and (max-width: 380px) {
  section.hero .right .box .lead-answer .msg2 {
    font-size: 16px;
  }
}
section.hero .right .box .lead-answer .msg2 span {
  color: #00cc02;
  font-weight: 500;
}
section.health-cards {
  position: relative;
  top: -126px;
}
@media screen and (max-width: 767px) {
  section.health-cards {
    top: -105px;
  }
}
section.health-cards .cards.mobile {
  display: none;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  /*@media screen and (max-width: 380px){
                margin: 0 20px;
            }*/
}
section.health-cards .cards.mobile .lSSlideWrapper {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  border: 0 solid #454545;
  background-color: transparent !important;
}
@media screen and (max-width: 767px) {
  section.health-cards .cards.mobile .lSSlideWrapper {
    max-width: 350px;
    margin: 0 auto;
    box-shadow: none;
    border: none;
    border-radius: inherit;
  }
}
@media screen and (max-width: 767px) {
  section.health-cards .cards.mobile {
    display: contents;
  }
}
section.health-cards .cards.desktop {
  display: flex;
}
@media screen and (max-width: 767px) {
  section.health-cards .cards.desktop {
    display: none;
  }
}
section.health-cards .card {
  height: 240px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  border: 0 solid #454545;
  background-color: #ffffff;
  padding-top: 58px;
}
@media screen and (max-width: 991px) {
  section.health-cards .card {
    padding: 44px 16px 0;
  }
}
@media screen and (max-width: 767px) {
  section.health-cards .card {
    height: inherit;
    padding: 46px 16px;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
}
section.health-cards .card .title-card {
  color: #282d39;
  font-family: "Avenir Black";
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 16px;
}
@media screen and (max-width: 991px) {
  section.health-cards .card .title-card {
    font-size: 20px;
    line-height: 24px;
  }
}
section.health-cards .card .text-card {
  color: rgba(40, 45, 57, 0.6);
  font-family: "Avenir Book";
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  max-width: 290px;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  section.health-cards .card .text-card {
    font-size: 16px;
    line-height: 22px;
  }
}
section.preview-content {
  margin: 0 0 80px;
}
@media screen and (max-width: 991px) {
  section.preview-content {
    margin: -30px 0 80px;
  }
}
@media screen and (max-width: 767px) {
  section.preview-content {
    margin: -50px 0 60px;
  }
}
@media screen and (max-width: 767px) {
  section.preview-content .left {
    order: 2;
    padding-top: 30px;
  }
}
section.preview-content .left .slider {
  width: 100%;
  max-width: 500px;
}
@media screen and (max-width: 767px) {
  section.preview-content .left .slider {
    max-width: 350px;
    margin: 0 auto;
  }
  section.preview-content .left .slider .lSPager {
    margin: 0 auto;
    display: table;
  }
}
section.preview-content .left .slider .lSSlideWrapper {
  border-radius: 20px;
  border: 0 solid #454545;
  background-color: #ffffff !important;
}
section.preview-content .left .slider .lSSlideOuter .lSPager.lSGallery li {
  height: 96px !important;
}
section.preview-content .left .slider .lSSlideOuter .lSPager.lSGallery img {
  width: 100% !important;
  overflow: hidden !important;
}
section.preview-content .left .slider ul {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom: 0;
}
section.preview-content .left .slider li {
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  section.preview-content .left .slider li {
    margin: 0 auto;
  }
}
section.preview-content .left .slider img {
  display: block;
  height: auto;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  section.preview-content .right {
    order: 1;
  }
}
section.preview-content .right .title {
  color: rgba(40, 45, 57, 0.3);
  font-family: "Avenir Black";
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.38px;
  padding-bottom: 10px;
}
@media screen and (max-width: 991px) {
  section.preview-content .right .title {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  section.preview-content .right .title {
    text-align: center;
  }
}
section.preview-content .right .sub-title {
  color: #00cc02;
  font-family: "Avenir Black";
  font-size: 36px;
  font-weight: 900;
  line-height: 50px;
  padding-bottom: 40px;
}
@media screen and (max-width: 991px) {
  section.preview-content .right .sub-title {
    font-size: 27px;
    line-height: 32px;
    padding-bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  section.preview-content .right .sub-title {
    text-align: center;
  }
}
@media screen and (max-width: 360px) {
  section.preview-content .right .sub-title {
    font-size: 24px;
  }
}
section.preview-content .right .description-list {
  color: rgba(40, 45, 57, 0.6);
  font-family: "Avenir Book";
  font-size: 22px;
  font-weight: 300;
  line-height: 36px;
  list-style: none;
  padding: 0;
}
section.preview-content .right .description-list li i {
  color: #00cc02;
}
@media screen and (max-width: 991px) {
  section.preview-content .right .description-list {
    font-size: 17px;
    line-height: 36px;
  }
}
@media screen and (max-width: 767px) {
  section.preview-content .right .description-list {
    max-width: 320px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 345px) {
  section.preview-content .right .description-list {
    font-size: 4.9vw;
    line-height: 10vw;
  }
}
section.preview-content .cta {
  max-width: 285px;
}
@media screen and (max-width: 767px) {
  section.preview-content .cta.desktop {
    display: none;
  }
}
section.preview-content .bottom {
  display: none;
}
@media screen and (max-width: 767px) {
  section.preview-content .bottom {
    display: flex;
    order: 3;
    justify-content: center;
  }
}
section.help-parents {
  background-color: #faee58;
  padding: 80px 0;
}
@media screen and (max-width: 767px) {
  section.help-parents {
    padding: 80px 0 0;
  }
}
@media screen and (max-width: 480px) {
  section.help-parents {
    padding: 60px 0 0;
  }
}
@media screen and (max-width: 991px) {
  section.help-parents .left {
    position: relative;
    z-index: 2;
  }
}
section.help-parents .left .title {
  color: #282d39;
  font-family: "Avenir Black";
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.88px;
  line-height: 50px;
}
@media screen and (max-width: 991px) {
  section.help-parents .left .title {
    font-size: 30px;
    letter-spacing: inherit;
    line-height: 36px;
  }
}
@media screen and (max-width: 767px) {
  section.help-parents .left .title {
    font-size: 27px;
    line-height: 32px;
  }
}
@media screen and (max-width: 480px) {
  section.help-parents .left .title {
    text-align: center;
  }
}
section.help-parents .left .text {
  padding-top: 20px;
  color: rgba(40, 45, 57, 0.6);
  font-family: "Avenir Book";
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
}
@media screen and (max-width: 991px) {
  section.help-parents .left .text {
    font-size: 20px;
    line-height: 27px;
  }
}
@media screen and (max-width: 767px) {
  section.help-parents .left .text {
    font-size: 17px;
    line-height: 24px;
  }
}
@media screen and (max-width: 480px) {
  section.help-parents .left .text {
    text-align: center;
  }
}
section.help-parents .left .cta {
  max-width: 304px;
}
@media screen and (max-width: 480px) {
  section.help-parents .left .cta {
    margin: 40px auto 0;
  }
}
section.help-parents .right {
  position: relative;
}
section.help-parents .right .image-children {
  position: absolute;
  width: 42vw;
  bottom: -80px;
  left: -5%;
}
section.help-parents .right .image-children img {
  width: 100%;
  max-width: 735px;
  min-width: 650px;
}
@media screen and (max-width: 767px) {
  section.help-parents .right .image-children img {
    min-width: inherit;
  }
}
@media screen and (max-width: 991px) {
  section.help-parents .right .image-children {
    left: -48%;
    z-index: 1;
  }
}
@media screen and (max-width: 767px) {
  section.help-parents .right .image-children {
    padding-top: 30px;
    position: relative;
    width: inherit;
    bottom: inherit;
    left: inherit !important;
  }
}
footer {
  background-color: #00cc02;
  min-height: 140px;
}
footer .container {
  display: flex;
  align-items: center;
  padding: 50px 0;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 767px) {
  footer .container {
    flex-direction: column;
    padding: 50px 15px;
  }
}
@media screen and (max-width: 480px) {
  footer .container {
    padding: 30px 15px;
  }
}
footer .container .back-to-top {
  width: 70px;
  height: 70px;
  box-shadow: 3px 3px 20px rgba(0, 204, 2, 0.15);
  border-radius: 35px;
  border: 1px solid #00cc02;
  background-color: #ffffff;
  position: absolute;
  right: 80px;
  text-align: center;
  z-index: 10;
  top: -35px;
  line-height: 14px;
}
footer .container .back-to-top span {
  color: #00cc02;
  font-family: "Avenir Black";
  font-size: 10px;
  font-weight: 900;
  line-height: 0;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  height: 100%;
  top: 22px;
}
@media screen and (max-width: 767px) {
  footer .container .back-to-top {
    width: 60px;
    height: 60px;
    line-height: 12px;
    right: 40px;
  }
  footer .container .back-to-top span {
    top: 17px;
    font-size: 8px;
  }
}
footer .container .left {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  footer .container .left {
    flex-direction: column;
    align-items: center;
  }
}
footer .container .left .image-logo {
  max-width: 255px;
}
footer .container .left .image-logo img {
  width: 100%;
}
footer .container .left .menu-footer {
  color: #ffffff;
  font-family: "Avenir Black";
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.3px;
  padding-left: 20px;
}
@media screen and (max-width: 991px) {
  footer .container .left .menu-footer {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  footer .container .left .menu-footer {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
  }
}
footer .container .left .menu-footer a {
  padding: 0 10px;
}
@media screen and (max-width: 991px) {
  footer .container .left .menu-footer a:nth-of-type(2) {
    white-space: nowrap;
  }
}
footer .container .right #social-media {
  position: relative;
  display: flex;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  footer .container .right #social-media {
    padding: 0;
  }
}
footer .container .right #social-media li {
  margin: 0 2px;
  padding: 0;
  list-style: none;
  top: 0;
  width: 41px;
}
footer .container .right #social-media li#youtube {
  background: url('/assets/images/social.png') 0 0;
  background-size: cover;
}
footer .container .right #social-media li#twitter {
  background: url('/assets/images/social.png') -46px 0;
  background-size: cover;
}
footer .container .right #social-media li#linkedin {
  background: url('/assets/images/social.png') -92px 0;
  background-size: cover;
}
footer .container .right #social-media li#instagram {
  background: url('/assets/images/social.png') -138px 0;
  background-size: cover;
}
footer .container .right #social-media li#facebook {
  background: url('/assets/images/social.png') -183px 0;
  background-size: cover;
}
footer .container .right #social-media li,
footer .container .right #social-media a {
  height: 40px;
  display: block;
}
footer .additional_info {
  height: 30px;
  background-color: rgba(40, 45, 57, 0.1);
  font-family: "Avenir Book";
  font-size: 13px;
  font-weight: 600;
  width: 100%;
}
@media screen and (max-width: 1320px) {
  footer .additional_info {
    padding: 10px;
    display: inline-table;
  }
}
footer .additional_info p {
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}
footer .additional_info .rights {
  display: block;
  text-align: center;
}
@media screen and (min-width: 1319px) {
  footer .additional_info .rights {
    clear: both;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
  }
}
html {
  overflow-x: hidden;
  opacity: 1 !important;
  transition: opacity 0.2s ease-in-out;
  font-family: "Avenir Book", "ff-prater-sans-web", "OpenSans", "Open Sans";
  background-color: #f1f3f4;
}
html body {
  overflow-x: hidden;
  display: block;
  margin: 0 auto;
  background-color: white;
  height: initial;
}
html body .svg {
  pointer-events: none;
}
